src/test/resources/ColorProfileSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="ColorCommonDataTypesSchema.xsd" />   

    <xs:element name="ColorProfile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ColorCorrectionMatrix" type="ColorCorrectionMatrix" />
                <xs:element name="IccProfile" type="xs:base64Binary" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
